<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>At Kitchen Story we build products & solutions that redefine the food ordering & delivery space in
                India, every single day. The best part? Every bit of your work at Swiggy will help us change the way
                India eats!</h3>
            <p>After a slow start, Kitchn story snowballed into an unstoppable force that is now changing the way India
                eats.</p>
        </div>
    </div>
    <div class="col-sm-3">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/19130/2-SQ898701.jpg" width="600px" height="400px">

    </div>

</div>