<div class="container">
    <div class="row">
        <div class="col-3">
            <h1>Kitchen Story</h1>
            <p>
                Want to have some nice food after a tiring day. Order food from Kitchen Story.
                Want to have some nice food after a tiring day. Order food from Kitchen Story.
                Want to have some nice food after a tiring day. Order food from Kitchen Story.
            </p>
            <h2>Popular cities in India</h2>
            <p>Ahmedabad Bangalore Chennai Delhi Gurgaon Hyderabad Kolkata Mumbai Pune &
                more.ahmedabad Bangalore Chennai Delhi Gurgaon Hyderabad Kolkata Mumbai Pune &
                more.hmedabad Bangalore Chennai Delhi Gurgaon Hyderabad Kolkata Mumbai Pune &
                more
            </p>
        </div>
        <div class="col-5" style="padding-left: 60px;">
            <img src="https://d3nn873nee648n.cloudfront.net/900x600/19478/220-SM933585.jpg" style="background-repeat: no-repeat;
            width:700px">
        </div>
    </div>
</div>